body {
    font-family: "roboto", sans-serif;
    background-color:rgb(197, 192, 186)
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
img {
    
    align-items: center;
    height: 30%;
    margin:5px;
   
   
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.destaque {
    color: red;
}

footer {
    display: flex;
    justify-content: space-around;

}

a {
    text-decoration: none;
    color: #000;
    margin: 5px;
    animation: pulse 1.5s infinite;
    
}

@keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    } 



